/.vscode
/.embuild
/target
/Cargo.lock
/solana-transaction-builder/js/node_modules
esp32-solana-signer/.DS_Store
solana-transaction-builder/.DS_Store
solana-transaction-builder/rust/solana-tx-signer/.DS_Store
solana-transaction-builder/rust/.DS_Store
solana-transaction-builder/go
solana-transaction-builder/js
.DS_Store
folders.txt
/squads_quickstart-ts
/squads-go
/squads-windsurf